name: PHP Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      DB_DATABASE: wordpress_test
      DB_USER: root
      DB_PASSWORD: root
    strategy:
      matrix:
        php-versions: ['7.4', '8.0', '8.1', '8.2', '8.3']
        wp-versions: [ '6.2', '6.3', '6.4', 'latest', 'trunk' ]
    name: WP ${{ matrix.wp-versions }} / PHP ${{ matrix.php-versions }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}

    - name: Install Subversion.
      run: |
        sudo apt-get update -y
        sudo apt-get install -y subversion

    - name: Check PHP Version
      run: php -v

    - name: Composer install
      run: composer install --optimize-autoloader --prefer-dist

    - name: Install WP Tests
      run: |
        sudo /etc/init.d/mysql start
        bash bin/install-wp-tests.sh wordpress_test root root 127.0.0.1 ${{ matrix.wp-versions }}

    - name: PHPUnit tests
      run: ./vendor/bin/phpunit
      env:
        WP_TESTS_DIR: ${{ runner.temp }}/wordpress-tests-lib
        WP_CORE_DIR: ${{ runner.temp }}/wordpress
